# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Notebooks
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/synthetic/
reports/*.json
reports/*.png
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/synthetic/.gitkeep

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Original spec PDF kopija
spec.pdf

.claude/
BILJESKE.md
BILJESKE_tarik.md